<div class="report-page">
    <div *ngIf="successfulProjects.length != 0" class="projects-section">
      <h2>Successful Projects</h2>
      <div class="projects-list">
        <app-report-project-list-item *ngFor="let project of successfulProjects" [project]="project"></app-report-project-list-item>
      </div>
    </div>
    <div *ngIf="unsuccessfulProjects.length != 0" class="projects-section">
      <h2>Unsuccessful Projects</h2>
      <div class="projects-list">
        <app-report-project-list-item *ngFor="let project of unsuccessfulProjects" [project]="project"></app-report-project-list-item>
      </div>
    </div>
  </div>