/* login.component.scss */

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full height of the viewport */
    background-color: #f0f0f0; /* Background color, change as desired */
  }
  
  .form {
    width: 400px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
  }
  
  .email-field {
    margin-bottom: 2rem;
  }
  
  mat-form-field {
    width: 100%;
  
    input {
      width: 100%;
    }
  
    mat-error {
      font-size: 14px;
      color: red; /* Error message color */
      margin-top: 4px;
    }
  }
  
  .submit-btn {
    width: 100%;
    margin-top: 16px;
  }
  