<ng-container *ngIf="isAuthenticated">
  <mat-toolbar color="primary" class="d-flex justify-content-between">
    <h1>ImageStore</h1>
    <span class="spacer"></span>
    <div class="d-flex align-items-center float-end">
      <span style="font-size: 14px; margin: 0 15px">{{ getCurrentUserName() }}</span>
      <button mat-icon-button aria-label="Logout icon" class="logout-icon" (click)="logout()"
        *ngIf="isUserAuthenticated()">
        <mat-icon>exit_to_app</mat-icon>
      </button>
    </div>

  </mat-toolbar>

  <router-outlet></router-outlet>
</ng-container>

<ng-container *ngIf="!isAuthenticated">
  <app-login-page></app-login-page>
</ng-container>